<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.User">

    <select id="selectUserList" resultType="User">
        SELECT * FROM user
    </select>

    <select id="selectUser" parameterType="long" resultType="User">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        INSERT INTO user (id, firstname, lastname, email, mobile)
        VALUES (#{id}, #{firstname}, #{lastname}, #{email}, #{mobile})
    </insert>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE user
        SET firstname = #{firstname}, lastname = #{lastname}, email = #{email}, mobile = #{mobile}
        WHERE id = #{id}
    </update>

    <!-- 分页计数 -->
    <select id="selectUserCount" resultType="int">
        SELECT count(*) FROM user WHERE id BETWEEN #{low} AND #{high}
    </select>

    <select id="selectUserPage" parameterType="java.util.Map" resultType="User">
        SELECT * FROM user WHERE id BETWEEN #{low} AND #{high}
    </select>

</mapper>